.advantage {
	display: grid;
	grid-template-columns: 50px 1fr;
	gap: 10px 40px;

	align-items: center;

	margin-bottom: 30px;
}


.advantage svg g {
	z-index: 99;

	width: 24px;
	height: 24px;
}

.title {
	font-weight: bold;
}

.vline {
	height: 100%;
	margin-left: 25px;

	border-left: 1px solid #D2D2D2;
}