.wrapper {
	display: grid;

	min-height: 100vh;
	grid-template: 
	". header header ." auto ". sidebar body ." 1fr "footer footer footer footer" auto / auto 230px minmax(320px, 1200px) auto;
	gap: 40px 30px;

	@media (width <= 830px) {
		grid-template-areas: 
			"header"
			"body"
			"footer";
		grid-template-columns: minmax(320px, 1fr);
		gap: 10px;
	}

}

.header {
	@media (width <= 830px){
		display: block;
	}	
}

.sidebar {
	grid-area: sidebar;

	@media (width <= 830px) {
		display: none !important;
	}
}

.body {
	grid-area: body;

	outline: none;

	@media (width <= 830px) {
		padding: 20px;
	}

	@media (width <= 350px) {
		padding-right: 5px;
	}
}

.footer {
	grid-area: footer;
}


.skipLink {
	position: fixed;
	top: 0;
	left: 100px;

	display: block;
	overflow: hidden;

	height: 0;

	color: var(--white);
	background: var(--primary)
}

.displayed {
	height: auto;
}