.tag{
	display: inline-block;
	box-sizing: border-box;
	margin: 0px 5px 5px 0;
	border-radius: 20px;
	padding: 5px 12px;
}

.tag:last-child {
	margin: 0px;
}

.small{
	font-size: 12px;
	line-height: 12px;
}

.medium{
	font-size: 14px;
	line-height: 14px;
}


.ghost{
	border: 1px solid var(--gray-light);
}


.red{
	color: var(--white);
	background: #DE0000;
	font-weight: bold;
}

.grey{
	color: var(--white);
	background: #8a99b7;
	font-weight: bold;
}

.green{
	color: var(--green);
	background: var(--green-light);
	font-weight: bold;
}

.primary{
	color: var(--primary);
	border: 1px solid var(--primary);
}