.reviewForm {
	display: grid;
	align-items: center;

	font-size: 14px;
	line-height: 24px;
	grid-template-columns: [start] auto 1fr auto [end];
	gap: 20px 30px;
}

.title {
	justify-self: left;
}

.rating {
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

.description, .submit {
	grid-column: start / end;
}

.info {
	margin-left: 15px;
}

.panel {
	position: relative;

	margin-top: 20px;
	padding: 20px;

	border-radius: 5px;
}

.success {
	background: var(--green-light);
	
}

.error {
	background: var(--red-light);

}

.error .close path {
	stroke: var(--red);
}

.successTitle {
	font-weight: bold;
}

.close {
	position: absolute;
	top: 20px;
	right: 20px;

	border: none;
	background: none;
}

@media screen and (width <= 1180px) {
	.reviewForm {
		grid-template-columns: [start] auto 1fr [end];
	}
}

@media screen and (width <= 1040px) {
	.submit{
		display: grid;
		grid-template-columns: 1fr;
	}

	.reviewFormButton {
		margin-bottom: 10px;
	}
}

@media screen and (width <= 1040px) {
	.reviewForm {
		grid-template-columns: [start] 1fr [end];

	}

	.title {
		justify-self : initial;
	}
}